@use '../../styles/vars.scss';

.form {
  display: grid;
  grid-template-areas: 
    "name country country"
    "date purpose purpose"
    "title alone upload"
    "description description description"
    "submit submit submit";
  width: 500px;
  text-align: left;
  border: 2px solid vars.$green;
  padding: 1.5em;
  border-radius: 1em;
  background-color: vars.$light-gray;
  box-sizing: border-box;
  gap: 0.8em;

  &__block {
    border: none;
    padding: 0;
  }

  .btn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34px;
    border: 2px solid vars.$green;
    border-radius: 1.4em;
    background-color: vars.$green;
    color: vars.$snow;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      background-color: vars.$snow;
      color: vars.$green;
    }
    &:active{
      background-color: vars.$light-gray;
    }
  }

  &__submit{
    grid-area: submit;
  }
}

.field {
  display: block;
  border: 2px solid vars.$green;
  height: 30px;
  width: 100%;
  padding: 3px 7px;
  border-radius: 1.2em;
  background-color: vars.$snow;
  box-sizing: border-box;
}

.label {
  display: block;
  color: vars.$jet;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 5px;
}