@use '../../styles/vars.scss';

.cards_cities {
  max-width: 100%;
}

.city {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-decoration: none;
  color: vars.$jet;
  &__name {
    color: vars.$green;
  }
  &__population {
    font-size: 0.9em;
    font-style: italic;
  }
  &__code {
    font-weight: 800;
  }
}
