@use '../../styles/vars.scss';

.card {
  &_country {
    max-width: 300px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      'title flag'
      'capital flag';
  }

  & > * {
    margin: 2px;
  }

  &:hover {
    box-shadow: 5px 5px 10px #cacaca;
  }

  &:active {
    box-shadow: 5px 5px 10px #989797;
  }

  &__title {
    grid-area: title;
    color: vars.$green;
    margin: 7px 0;
  }

  &__capital {
    grid-area: capital;
    font-size: 1.1em;
    margin: 5px 0;
  }

  &__flag {
    position: relative;
    grid-area: flag;

    & img {
      display: block;
      z-index: -1;
      object-fit: contain;
      width: 100%;
    }
  }
}
