@use '../../styles/vars.scss';

.upload {
  grid-area: upload;
  display: flex;
  align-items: flex-end;
  
  &__input {
    display: none;
  }

  label.btn{
    font-weight: 500;
    font-size: 0.7em;
  }
}